.search-results {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;

  & > p {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  & > button {
    margin-top: 20px;
    padding: 9px 15px;
    border: none;
    border-radius: 3px;
    color: #757575;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  &__items {
    width: $content-width;
    margin: auto;
  }

  &__items__item {
    position: relative;
    display: flex;
    width: 100%;
    border-width: 0px;
    border-radius: 3px;
    padding: 10px;
    text-align: left;
    box-shadow:
      0 2px 2px 0 rgba(0,0,0,0.16),
      0 0 0 1px rgba(0,0,0,0.08);

    &:not(:first-child) {
      margin-top: 10px;
    }

    &__image {
      align-self: center;

      img {
        width: 70px;
        height: 70px;
      }
    }

    &__info {
      margin-left: 20px;

      h4 {
        @include truncate-text(470px);
      }

      .search-results__rating {
        margin-top: 5px;
      }

      .search-results__badge {
        display: inline-block;
        margin-top: 5px;
        background-color: #3AA856;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 13px;
        color: white;
      }

      .search-results__gmaps-link {
        position: absolute;
        right: 15px;
        bottom: 13px;
        color: #4888EE;
        font-size: 13px;
      }
    }
  }
}
